In [2]:
import pandas as pd

1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
2 .Total working days for each agents 
3. Total query that you hvae taken 
4. total Feedback that you have received 
5. a agent name who have average rating between 3.5 to 4 
6 . Agent name who have rating lesss then 3.5 
7 . agent name who have rating more then 4.5 
8 . how many feedaback agents have received more then 4.5 average
9 . average weekly response time for each agent 
10 . average weekely resolution time for each agents 
11 . list of all agents name 
12 . percentage of chat on which they have received a feedback 
13 . Total contributation hour for each and every agents weekly basis 
14. total percentage of active hour for a month 

sunny.savita@ineuron.ai ,sudhanshu@ineuron.ai

In [3]:
dfr=pd.read_excel(r'C:\Users\Himanshu Verma\Desktop\fsds_pandas\AgentPerformance.xlsx',sheet_name='rating')

In [4]:
dfr

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
1,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
2,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
3,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
4,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2155,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.00,0
2156,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.00,0
2157,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.00,0
2158,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.00,0
2159,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.00,0

In [5]:
dfl=pd.read_excel(r'C:\Users\Himanshu Verma\Desktop\fsds_pandas\AgentPerformance.xlsx',sheet_name='login')

In [6]:
dfl

     SL No               Agent       Date   Login Time  Logout Time   Duration
0        1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM   02:04:10
1        2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM   00:00:17
2        3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM   02:26:42
3        4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM   00:45:06
4        5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM   01:08:36
..     ...                 ...        ...          ...          ...        ...
995    996        Manjunatha A  20-Jul-22  09:03:51 AM  03:02:28 PM   05:58:37
996    997            Bharath   20-Jul-22  09:00:49 AM  03:01:32 PM   06:00:43
997    998      Khushboo Priya  20-Jul-22  08:59:20 AM  02:26:55 PM   05:27:34
998    999        Nishtha Jain  20-Jul-22  08:43:55 AM  02:00:33 PM   05:16:38
999   1000              Tarun   01-Jul-22  01:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [7]:
dfr.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

In [8]:
dfr['c_date']=pd.to_datetime(dfr['Date'])

In [9]:
dfr['by_week']=dfr['c_date'].dt.week

C:\Users\Himanshu Verma\AppData\Local\Temp\ipykernel_8816\4073947766.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  dfr['by_week']=dfr['c_date'].dt.week

In [10]:
#1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave
dfr.groupby(['by_week'])['Average Rating'].mean()

by_week
26    0.998704
27    1.386647
28    1.548492
29    1.511389
30    1.617847
Name: Average Rating, dtype: float64

In [11]:
#2 .Total working days for each agents
dfr.groupby(['Agent Name'])['c_date'].count()

Agent Name
Abhishek         30
Aditya           30
Aditya Shinde    30
Aditya_iot       30
Amersh           30
                 ..
Uday Mishra      30
Vasanth P        30
Vivek            30
Wasim            30
Zeeshan          30
Name: c_date, Length: 70, dtype: int64

In [12]:
# 3. Total query that you hvae taken
dfr.groupby('Agent Name')['Total Chats'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    277
Aditya_iot       231
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             44
Wasim            433
Zeeshan          542
Name: Total Chats, Length: 70, dtype: int64

In [13]:
#4. total Feedback that you have received 
dfr.groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Abhishek           0
Aditya             0
Aditya Shinde    153
Aditya_iot       131
Amersh             0
                ...
Uday Mishra        0
Vasanth P          0
Vivek             20
Wasim            284
Zeeshan          335
Name: Total Feedback, Length: 70, dtype: int64

In [20]:
#5. a agent name who have average rating between 3.5 to 4
dfr[(dfr['Average Rating']> 3.5) & (dfr['Average Rating']< 4.0)]['Agent Name'].unique()

array(['Swati ', 'Manjunatha A', 'Prateek _iot ', 'Nandani Gupta',
       'Jaydeep Dixit', 'Mahesh Sarade', 'Zeeshan ', 'Hrisikesh Neogi',
       'Khushboo Priya', 'Wasim ', 'Jawala Prakash', 'Nishtha Jain',
       'Prerna Singh', 'Boktiar Ahmed Bappy', 'Muskan Garg',
       'Harikrishnan Shaji', 'Deepranjan Gupta', 'Shivan K',
       'Madhulika G', 'Rishav Dash', 'Maitry ', 'Mithun S', 'Aditya_iot ',
       'Ishawant Kumar', 'Ayushi Mishra', 'Shivananda Sonwane',
       'Sandipan Saha', 'Anirudh ', 'Jayant Kumar', 'Saurabh Shukla',
       'Aditya Shinde'], dtype=object)

In [18]:
#6 . Agent name who have rating lesss then 3.5
dfr[dfr['Average Rating']< 3.5]['Agent Name'].unique()

array(['Nandani Gupta', 'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ',
       'Shiva Srivastava', 'Dibyanshu ', 'Ashish ', 'Uday Mishra',
       'Aditya Shinde', 'Jayant Kumar', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Saurabh Shukla', 'Wasim ', 'Samprit ',
       'Maitry ', 'Abhishek ', 'Rishav Dash', 'Aravind ', 'Tarun ',
       'Muskan Garg', 'Ankit Sharma', 'Bharath ', 'Ashad Nasim',
       'Vasanth P', 'Aditya ', 'Amersh ', 'Sandipan Saha',
       'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ', 'Zeeshan ',
       'Anurag Tiwari', 'Ankitjha ', 'Saif Khan', 'Jaydeep Dixit',
       'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas', 'Rohan ', 'Vivek ',
       'Nitin M', 'Shivan_S ', 'Spuri ', 'Ayushi Mishra',
       'Chaitra K Hiremath', 'Prateek _iot ', 'Jawala Prakash',
       'Sowmiya Sivakumar', 'Nishtha Jain', 'Swati ', 'Khushboo Priya',
       'Shubham Sharma', 'Manjunatha A', 'Ameya Jain',
       'Harikrishnan Shaji', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Mukesh ', 'Hrisikesh Neogi', 'Mithun S', 'Prerna Singh',
       'Suraj S Bilgi', 'Shivan K', 'Mahesh Sarade', 'Madhulika G',
       'Boktiar Ahmed Bappy', 'Deepranjan Gupta', 'Ishawant Kumar',
       'Shivananda Sonwane'], dtype=object)

In [21]:
#7 . agent name who have rating more then 4.5 
dfr[dfr['Average Rating']> 4.5]['Agent Name'].unique()

array(['Ameya Jain', 'Mahesh Sarade', 'Mukesh ', 'Saikumarreddy N',
       'Sanjeev Kumar', 'Harikrishnan Shaji', 'Sowmiya Sivakumar',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Muskan Garg', 'Aditya_iot ',
       'Chaitra K Hiremath', 'Suraj S Bilgi', 'Mithun S', 'Wasim ',
       'Bharath ', 'Jawala Prakash', 'Ayushi Mishra', 'Prateek _iot ',
       'Nandani Gupta', 'Khushboo Priya', 'Manjunatha A', 'Maitry ',
       'Jaydeep Dixit', 'Madhulika G', 'Prerna Singh', 'Shivan K',
       'Shiva Srivastava', 'Swati ', 'Shubham Sharma', 'Aravind ',
       'Zeeshan ', 'Hrisikesh Neogi', 'Prabir Kumar Satapathy',
       'Rishav Dash', 'Sudhanshu Kumar', 'Aditya Shinde', 'Sandipan Saha',
       'Nishtha Jain', 'Saurabh Shukla', 'Anirudh ', 'Jayant Kumar',
       'Mukesh Rao ', 'Vivek ', 'Ankitjha '], dtype=object)

In [27]:
#8 . how many feedaback agents have received more then 4.5 average
f=dfr['Average Rating']>4.5
dfr.where(f).groupby('Agent Name')['Total Feedback'].sum()

Agent Name
Aditya Shinde              73.0
Aditya_iot                 43.0
Ameya Jain                150.0
Anirudh                     2.0
Ankitjha                    1.0
Aravind                   178.0
Ayushi Mishra              75.0
Bharath                   231.0
Boktiar Ahmed Bappy        52.0
Chaitra K Hiremath          5.0
Deepranjan Gupta           83.0
Harikrishnan Shaji         80.0
Hrisikesh Neogi           183.0
Ishawant Kumar             79.0
Jawala Prakash             33.0
Jayant Kumar                7.0
Jaydeep Dixit             179.0
Khushboo Priya            134.0
Madhulika G                67.0
Mahesh Sarade              46.0
Maitry                     81.0
Manjunatha A              132.0
Mithun S                   93.0
Mukesh                     17.0
Mukesh Rao                  1.0
Muskan Garg                14.0
Nandani Gupta              91.0
Nishtha Jain               18.0
Prabir Kumar Satapathy     53.0
Prateek _iot               54.0
Prerna Singh               82.0
Rishav Dash                27.0
Saikumarreddy N           184.0
Sandipan Saha               1.0
Sanjeev Kumar             164.0
Saurabh Shukla              3.0
Shiva Srivastava            2.0
Shivan K                  130.0
Shivananda Sonwane        154.0
Shubham Sharma            155.0
Sowmiya Sivakumar          16.0
Sudhanshu Kumar             2.0
Suraj S Bilgi               4.0
Swati                     103.0
Vivek                       3.0
Wasim                     156.0
Zeeshan                    48.0
Name: Total Feedback, dtype: float64

In [35]:
dfr['c_time']=dfr.Date +' '+ dfr['Average Response Time']

In [67]:
dfr['d_time']=dfr.Date +' '+ dfr['Average Resolution Time']

In [36]:
dfr['c_time']

0       2022-07-30 00:00:38
1       2022-07-30 00:01:15
2       2022-07-30 00:00:30
3       2022-07-30 00:01:04
4       2022-07-30 00:01:11
               ...
2155    2022-07-01 00:00:00
2156    2022-07-01 00:00:00
2157    2022-07-01 00:00:00
2158    2022-07-01 00:00:00
2159    2022-07-01 00:00:00
Name: c_time, Length: 2160, dtype: object

In [68]:
dfr['d_time']

0       2022-07-30 00:04:20
1       2022-07-30 00:28:25
2       2022-07-30 00:11:36
3       2022-07-30 00:15:46
4       2022-07-30 00:16:33
               ...
2155    2022-07-01 00:00:00
2156    2022-07-01 00:00:00
2157    2022-07-01 00:00:00
2158    2022-07-01 00:00:00
2159    2022-07-01 00:00:00
Name: d_time, Length: 2160, dtype: object

In [46]:
dfr['c_u_time']=pd.to_datetime(dfr['c_time'])

In [69]:
dfr['d_u_time']=pd.to_datetime(dfr['d_time'])

In [62]:
#9 . average weekly response time for each agent   pd.to_datetime(df.groupby('column').mean().date)
dfr.groupby(['by_week','Agent Name'])['c_u_time'].mean()

by_week  Agent Name
26       Abhishek        2022-07-02 00:00:00.000000000
         Aditya          2022-07-02 00:00:00.000000000
         Aditya Shinde   2022-07-02 00:00:55.333333248
         Aditya_iot      2022-07-02 00:00:00.000000000
         Amersh          2022-07-02 00:00:00.000000000
                                      ...
30       Uday Mishra     2022-07-27 12:00:00.000000000
         Vasanth P       2022-07-27 12:00:00.000000000
         Vivek           2022-07-27 12:00:00.000000000
         Wasim           2022-07-27 12:00:50.500000000
         Zeeshan         2022-07-27 12:01:03.833333504
Name: c_u_time, Length: 350, dtype: datetime64[ns]

In [70]:
#10 . average weekely resolution time for each agents
dfr.groupby(['by_week','Agent Name'])['d_u_time'].mean()

by_week  Agent Name
26       Abhishek        2022-07-02 00:00:00.000000000
         Aditya          2022-07-02 00:00:00.000000000
         Aditya Shinde   2022-07-02 00:15:26.999999744
         Aditya_iot      2022-07-02 00:00:00.000000000
         Amersh          2022-07-02 00:00:00.000000000
                                      ...
30       Uday Mishra     2022-07-27 12:00:00.000000000
         Vasanth P       2022-07-27 12:00:00.000000000
         Vivek           2022-07-27 12:00:00.000000000
         Wasim           2022-07-27 12:17:34.833333248
         Zeeshan         2022-07-27 12:12:53.500000000
Name: d_u_time, Length: 350, dtype: datetime64[ns]

In [73]:
#11 . list of all agents name
dfr['Agent Name'].unique()

array(['Prerna Singh', 'Nandani Gupta', 'Ameya Jain', 'Mahesh Sarade',
       'Swati ', 'Mukesh ', 'Saikumarreddy N', 'Sanjeev Kumar',
       'Shubham Sharma', 'Nishtha Jain', 'Manjunatha A', 'Khushboo Priya',
       'Suraj S Bilgi', 'Harikrishnan Shaji', 'Hrisikesh Neogi',
       'Shivan K', 'Sowmiya Sivakumar', 'Madhulika G', 'Mithun S',
       'Hitesh Choudhary', 'Sanjeevan ', 'Anirudh ', 'Shiva Srivastava',
       'Dibyanshu ', 'Ashish ', 'Uday Mishra', 'Aditya Shinde',
       'Jayant Kumar', 'Aditya_iot ', 'Prabir Kumar Satapathy',
       'Saurabh Shukla', 'Wasim ', 'Samprit ', 'Maitry ', 'Abhishek ',
       'Rishav Dash', 'Aravind ', 'Tarun ', 'Muskan Garg', 'Ankit Sharma',
       'Bharath ', 'Ashad Nasim', 'Vasanth P', 'Aditya ', 'Amersh ',
       'Sandipan Saha', 'Ineuron Intelligence ', 'Mahak ', 'Mukesh Rao ',
       'Zeeshan ', 'Anurag Tiwari', 'Ankitjha ', 'Saif Khan',
       'Jaydeep Dixit', 'Sudhanshu Kumar', 'Maneesh ', 'Hyder Abbas',
       'Rohan ', 'Vivek ', 'Nitin M', 'Shivan_S ', 'Spuri ',
       'Ayushi Mishra', 'Chaitra K Hiremath', 'Prateek _iot ',
       'Boktiar Ahmed Bappy', 'Shivananda Sonwane', 'Ishawant Kumar',
       'Deepranjan Gupta', 'Jawala Prakash'], dtype=object)

In [77]:
#12 . percentage of chat on which they have received a feedback
dfr['percent']=(dfr['Total Feedback']*100)/dfr['Total Chats']
dfr.groupby('Agent Name')['percent'].mean()

Agent Name
Abhishek               NaN
Aditya                 NaN
Aditya Shinde    58.067722
Aditya_iot       60.188561
Amersh                 NaN
                   ...
Uday Mishra            NaN
Vasanth P              NaN
Vivek            47.666667
Wasim            66.449262
Zeeshan          65.002151
Name: percent, Length: 70, dtype: float64

In [79]:
dfl['du_time']=dfl.Date +' '+ dfl['Duration']

In [80]:
dfl['d_u_time']=pd.to_datetime(dfl['du_time'])

ParserError: hour must be in 0..23: 24-Jul-22 24:09:54

In [81]:
dfl

,SL No,Agent,Date,Login Time,Logout Time,Duration,du_time
0,1,Shivananda Sonwane,30-Jul-22,03:35:29 PM,05:39:39 PM,02:04:10,30-Jul-22 02:04:10
1,2,Khushboo Priya,30-Jul-22,03:06:59 PM,03:07:16 PM,00:00:17,30-Jul-22 00:00:17
2,3,Nandani Gupta,30-Jul-22,03:04:24 PM,05:31:07 PM,02:26:42,30-Jul-22 02:26:42
3,4,Hrisikesh Neogi,30-Jul-22,02:34:29 PM,03:19:35 PM,00:45:06,30-Jul-22 00:45:06
4,5,Mukesh,30-Jul-22,02:03:15 PM,03:11:52 PM,01:08:36,30-Jul-22 01:08:36
...,...,...,...,...,...,...,...
995,996,Manjunatha A,20-Jul-22,09:03:51 AM,03:02:28 PM,05:58:37,20-Jul-22 05:58:37
996,997,Bharath,20-Jul-22,09:00:49 AM,03:01:32 PM,06:00:43,20-Jul-22 06:00:43
997,998,Khushboo Priya,20-Jul-22,08:59:20 AM,02:26:55 PM,05:27:34,20-Jul-22 05:27:34
998,999,Nishtha Jain,20-Jul-22,08:43:55 AM,02:00:33 PM,05:16:38,20-Jul-22 05:16:38
999,1000,Tarun,01-Jul-22,01:52:47 AM,12:01:07 PM,514:08:20,01-Jul-22 514:08:20

In [82]:
dfl['lin_time']=pd.to_datetime(dfl['Login Time'])

In [83]:
dfl['lout_time']=pd.to_datetime(dfl['Logout Time'])

In [84]:
dfl['c_duration']=dfl['lout_time']-dfl['lin_time']

In [85]:
dfl

,SL No,Agent,Date,Login Time,Logout Time,Duration,du_time,lin_time,lout_time,c_duration
0,1,Shivananda Sonwane,30-Jul-22,03:35:29 PM,05:39:39 PM,02:04:10,30-Jul-22 02:04:10,2022-07-30 15:35:29,2022-07-30 17:39:39,0 days 02:04:10
1,2,Khushboo Priya,30-Jul-22,03:06:59 PM,03:07:16 PM,00:00:17,30-Jul-22 00:00:17,2022-07-30 15:06:59,2022-07-30 15:07:16,0 days 00:00:17
2,3,Nandani Gupta,30-Jul-22,03:04:24 PM,05:31:07 PM,02:26:42,30-Jul-22 02:26:42,2022-07-30 15:04:24,2022-07-30 17:31:07,0 days 02:26:43
3,4,Hrisikesh Neogi,30-Jul-22,02:34:29 PM,03:19:35 PM,00:45:06,30-Jul-22 00:45:06,2022-07-30 14:34:29,2022-07-30 15:19:35,0 days 00:45:06
4,5,Mukesh,30-Jul-22,02:03:15 PM,03:11:52 PM,01:08:36,30-Jul-22 01:08:36,2022-07-30 14:03:15,2022-07-30 15:11:52,0 days 01:08:37
...,...,...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,20-Jul-22,09:03:51 AM,03:02:28 PM,05:58:37,20-Jul-22 05:58:37,2022-07-30 09:03:51,2022-07-30 15:02:28,0 days 05:58:37
996,997,Bharath,20-Jul-22,09:00:49 AM,03:01:32 PM,06:00:43,20-Jul-22 06:00:43,2022-07-30 09:00:49,2022-07-30 15:01:32,0 days 06:00:43
997,998,Khushboo Priya,20-Jul-22,08:59:20 AM,02:26:55 PM,05:27:34,20-Jul-22 05:27:34,2022-07-30 08:59:20,2022-07-30 14:26:55,0 days 05:27:35
998,999,Nishtha Jain,20-Jul-22,08:43:55 AM,02:00:33 PM,05:16:38,20-Jul-22 05:16:38,2022-07-30 08:43:55,2022-07-30 14:00:33,0 days 05:16:38
999,1000,Tarun,01-Jul-22,01:52:47 AM,12:01:07 PM,514:08:20,01-Jul-22 514:08:20,2022-07-30 01:52:47,2022-07-30 12:01:07,0 days 10:08:20

In [86]:
#13 . Total contributation hour for each and every agents weekly basis
dfl.groupby('Agent')['c_duration'].sum()

Agent
Aditya Shinde              0 days 00:02:10
Aditya_iot                 0 days 15:43:58
Amersh                     0 days 03:03:52
Ameya Jain                 0 days 18:04:36
Ankitjha                   0 days 02:16:03
Anurag Tiwari              0 days 02:47:05
Aravind                    1 days 00:18:01
Ayushi Mishra            -5 days +14:07:24
Bharath                    2 days 00:04:40
Boktiar Ahmed Bappy      -5 days +16:16:18
Chaitra K Hiremath         1 days 10:19:38
Deepranjan Gupta         -6 days +10:16:59
Dibyanshu                -4 days +04:36:46
Harikrishnan Shaji         2 days 05:43:03
Hrisikesh Neogi            0 days 09:34:28
Hyder Abbas                0 days 00:23:18
Ineuron Intelligence       0 days 01:26:56
Ishawant Kumar           -5 days +03:47:00
Jawala Prakash           -7 days +22:24:17
Jaydeep Dixit              1 days 11:50:29
Khushboo Priya             1 days 19:33:42
Madhulika G                1 days 22:03:43
Mahesh Sarade              0 days 18:55:28
Maitry                   -4 days +06:56:44
Manjunatha A               1 days 17:16:35
Mithun S                   1 days 21:10:30
Mukesh                     0 days 08:54:20
Muskan Garg                0 days 17:20:17
Nandani Gupta              1 days 16:10:25
Nishtha Jain               1 days 19:51:15
Nitin M                    0 days 00:47:56
Prabir Kumar Satapathy     1 days 09:22:51
Prateek _iot               0 days 18:25:10
Prerna Singh               1 days 21:43:02
Rishav Dash                1 days 17:46:39
Saikumarreddy N            1 days 19:08:21
Sanjeev Kumar              1 days 20:41:21
Saurabh Shukla           -1 days +16:39:53
Shiva Srivastava           0 days 14:59:47
Shivan K                   1 days 12:06:23
Shivananda Sonwane       -6 days +01:17:27
Shubham Sharma           -1 days +05:48:10
Sowmiya Sivakumar          1 days 20:45:22
Sudhanshu Kumar          -1 days +22:13:57
Suraj S Bilgi              0 days 12:33:36
Swati                      1 days 01:00:05
Tarun                      0 days 10:08:20
Wasim                      2 days 00:10:50
Zeeshan                    2 days 01:05:26
Name: c_duration, dtype: timedelta64[ns]

In [91]:
dfl['u_date']=pd.to_datetime(dfl['Date'])

In [93]:
dfl['d_u_date']=dfl['u_date']+dfl['c_duration']

In [98]:
dfl['constant_date']='2022-07-30 23:59:59'

In [99]:
dfl['con_date']=pd.to_datetime(dfl['constant_date'])

In [94]:
dfl['by_month']=dfl['d_u_date'].dt.month

In [100]:
dfl

,SL No,Agent,Date,Login Time,Logout Time,Duration,du_time,lin_time,lout_time,c_duration,u_date,d_u_date,by_month,constant_date,con_date
0,1,Shivananda Sonwane,30-Jul-22,03:35:29 PM,05:39:39 PM,02:04:10,30-Jul-22 02:04:10,2022-07-30 15:35:29,2022-07-30 17:39:39,0 days 02:04:10,2022-07-30,2022-07-30 02:04:10,7,2022-07-30 23:59:59,2022-07-30 23:59:59
1,2,Khushboo Priya,30-Jul-22,03:06:59 PM,03:07:16 PM,00:00:17,30-Jul-22 00:00:17,2022-07-30 15:06:59,2022-07-30 15:07:16,0 days 00:00:17,2022-07-30,2022-07-30 00:00:17,7,2022-07-30 23:59:59,2022-07-30 23:59:59
2,3,Nandani Gupta,30-Jul-22,03:04:24 PM,05:31:07 PM,02:26:42,30-Jul-22 02:26:42,2022-07-30 15:04:24,2022-07-30 17:31:07,0 days 02:26:43,2022-07-30,2022-07-30 02:26:43,7,2022-07-30 23:59:59,2022-07-30 23:59:59
3,4,Hrisikesh Neogi,30-Jul-22,02:34:29 PM,03:19:35 PM,00:45:06,30-Jul-22 00:45:06,2022-07-30 14:34:29,2022-07-30 15:19:35,0 days 00:45:06,2022-07-30,2022-07-30 00:45:06,7,2022-07-30 23:59:59,2022-07-30 23:59:59
4,5,Mukesh,30-Jul-22,02:03:15 PM,03:11:52 PM,01:08:36,30-Jul-22 01:08:36,2022-07-30 14:03:15,2022-07-30 15:11:52,0 days 01:08:37,2022-07-30,2022-07-30 01:08:37,7,2022-07-30 23:59:59,2022-07-30 23:59:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Manjunatha A,20-Jul-22,09:03:51 AM,03:02:28 PM,05:58:37,20-Jul-22 05:58:37,2022-07-30 09:03:51,2022-07-30 15:02:28,0 days 05:58:37,2022-07-20,2022-07-20 05:58:37,7,2022-07-30 23:59:59,2022-07-30 23:59:59
996,997,Bharath,20-Jul-22,09:00:49 AM,03:01:32 PM,06:00:43,20-Jul-22 06:00:43,2022-07-30 09:00:49,2022-07-30 15:01:32,0 days 06:00:43,2022-07-20,2022-07-20 06:00:43,7,2022-07-30 23:59:59,2022-07-30 23:59:59
997,998,Khushboo Priya,20-Jul-22,08:59:20 AM,02:26:55 PM,05:27:34,20-Jul-22 05:27:34,2022-07-30 08:59:20,2022-07-30 14:26:55,0 days 05:27:35,2022-07-20,2022-07-20 05:27:35,7,2022-07-30 23:59:59,2022-07-30 23:59:59
998,999,Nishtha Jain,20-Jul-22,08:43:55 AM,02:00:33 PM,05:16:38,20-Jul-22 05:16:38,2022-07-30 08:43:55,2022-07-30 14:00:33,0 days 05:16:38,2022-07-20,2022-07-20 05:16:38,7,2022-07-30 23:59:59,2022-07-30 23:59:59
999,1000,Tarun,01-Jul-22,01:52:47 AM,12:01:07 PM,514:08:20,01-Jul-22 514:08:20,2022-07-30 01:52:47,2022-07-30 12:01:07,0 days 10:08:20,2022-07-01,2022-07-01 10:08:20,7,2022-07-30 23:59:59,2022-07-30 23:59:59

In [103]:
dfl['percent_hour']=dfl['d_u_date']/dfl['con_date']

TypeError: cannot perform __truediv__ with this index type: DatetimeArray

In [ ]:
#14. total percentage of active hour for a month
dfl.groupby('by_month')[''].mean()